
@namespace ManageService
@using Models
<h4>Adult</h4>

<EditForm EditContext="@EC">
    <div class="container-fluid d-flex flex-column align-items-center">
        <DataAnnotationsValidator />
        <ValidationSummary />
    </div>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-5-lg">
                <div class="form-group">
                    <label for="FirstName">First name</label>
                    <InputText class="form-control" @bind-Value="Adult.FirstName" @oninput="OnAdultChanged" id="FirstName" />
                </div>
                <div class="form-group">
                    <label for="LastName">Last name</label>
                    <InputText class="form-control" @bind-Value="Adult.LastName" @oninput="OnAdultChanged" id="LastName" />
                </div>
                <div class="form-group">
                    <label for="Sex">Sex</label>
                    <InputSelect class="form-control" @onchange="OnAdultChanged" @bind-Value="Adult.Sex" id="Sex">
                        <option selected disabled></option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </InputSelect>
                </div>
                <div class="form-group">
                    <label for="Job">Job</label>
                    <InputText class="form-control" @bind-Value="Adult.JobTitle" @oninput="OnAdultChanged" id="Job" />
                </div>
                <div class="form-group">
                    <label for="Age">Age</label>
                    <InputNumber class="form-control" @bind-Value="Adult.Age" @oninput="OnAdultChanged" id="Age" />
                </div>
            </div>
            <div class="col-5-lg">
                <div class="form-group">
                    <label for="Weight">Weight</label>
                    <InputNumber class="form-control" @bind-Value="Adult.Weight" @oninput="OnAdultChanged" id="Weight" />
                </div>
                <div class="form-group">
                    <label for="Height">Height</label>
                    <InputNumber class="form-control" @bind-Value="Adult.Height" @oninput="OnAdultChanged" id="Height" />
                </div>
                <div class="form-group">
                    <label for="Hair">Hair color</label>
                    <InputText class="form-control" @bind-Value="Adult.HairColor" @oninput="OnAdultChanged" id="Hair" />
                </div>
                <div class="form-group">
                    <label for="Eye">Eye color</label>
                    <InputText class="form-control" @bind-Value="Adult.EyeColor" @oninput="OnAdultChanged" id="Eye" />
                </div>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public Adult Adult { get; set; }
    [Parameter]
    public EventCallback<Adult> AdultChanged { get; set; }

    private EditContext EC { get; set; }

    private Task OnAdultChanged(ChangeEventArgs e)
    {
        return AdultChanged.InvokeAsync(Adult);
    }

    protected override void OnInitialized()
    {
        EC = new EditContext(Adult);
        base.OnInitialized();
    }

    public bool ValidateChild()
    {
        return EC.Validate();
    }
}
